In [1]:
empty_dict = {}
empty_dict['f_name']=


# dictionary

In [1]:
#Example in dictionary:
# 'name:mueid'
# name = keys
# mueid = values

In [5]:
my_dict = {'name':'Mohsin' , 'age':25 , 'Gender':'Male' , "name":'Ali' , 'age':34}
print(my_dict)

{'name': 'Ali', 'age': 34, 'Gender': 'Male'}

In [6]:
del my_dict['age']
print(my_dict)

{'name': 'Ali', 'Gender': 'Male'}

In [7]:
my_dict = {'name':'Mohsin' , 'age':25 , 'Gender':'Male'}
for info in my_dict.values():  # '.values converts all the values of dictionary into listed form'
    print(info)

Mohsin
25
Male

In [8]:
dict1 = {'name':'Mohsin' , 'age':25 , 'Gender':'Male' , 'cnic':'42000-6765-8776'}
for info1 in my_dict.keys(): 
    print(info1)

name
age
Gender

In [12]:
dict111 = {'a':32 , "b":234}
dict111.values()

dict_values([32, 234])

In [13]:
dict111 = {'a':32 , "b":234}
dict111.keys()

dict_keys(['a', 'b'])

In [2]:
dict01 = {'name':'Mohsin' , 'age':25 , 'Gender':'Male' , 'cnic':'42000-6765-8776'}
for data in dict01.keys():
    print(dict01[data])

Mohsin
25
Male
42000-6765-8776

In [16]:
dict01 = {'name':'Mohsin' , 'age':25 , 'Gender':'Male' , 'cnic':'42000-6765-8776'}
for key,value in dict01.items():
    print("This is a key:" , key , "This is a value:" , value)

This is a key: name This is a value: Mohsin
This is a key: age This is a value: 25
This is a key: Gender This is a value: Male
This is a key: cnic This is a value: 42000-6765-8776

In [3]:
Profile = {}
user1 = input("Enter your name:")
user2 = input("Enter your CNIC:")
user3 = int(input("Enter your Age:"))
Profile['name']=user1
Profile['CNIC']=user2
Profile['Age']=user3
print(Profile)

Enter your name:mueid
Enter your CNIC:14523654
Enter your Age:25
{'name': 'mueid', 'CNIC': '14523654', 'Age': 25}

In [4]:
Profile = {}
Profile['name']=input("Enter your name:")
Profile['CNIC']=input("Enter your CNIC:")
Profile['Age']=int(input("Enter your Age:"))
print(Profile)

Enter your name:mueid
Enter your CNIC:42531452
Enter your Age:25
{'name': 'mueid', 'CNIC': '42531452', 'Age': 25}

In [15]:
customers = [{"customers_id":"123", "name":"shahzad"},{"customers_id":"256", "name":"mohsin"},{"customers_id":"234", "name":"hamza"}]

In [16]:
customers[-1]

{'customers_id': '234', 'name': 'hamza'}

In [17]:
customers[-1]["name"]

'hamza'

In [25]:
for i in customers:
    if i['customers_id']=='234':
        customers.remove(i)

In [26]:
print(customers)

[{'customers_id': '123', 'name': 'shahzad'}, {'customers_id': '256', 'name': 'mohsin'}]

In [44]:
customer_2 = {"customers_id":"123", "name":"shahzad","interest":['cricket','video games','movies',{'game':'football'}]}

In [50]:
customer_2['interest'][3]['game']

'football'

In [53]:
customer_3 = {0:{"customers_id":"123", "name":"abc"},
              1:{"customers_id":"456", "name":"def"}}

In [54]:
customer_3[1]['name']

'def'

In [55]:
1 in customer_3

True

In [56]:
2 in customer_3   # key 2: is not present in dict

False

In [58]:
'name' in customer_3[1]  # TO CHCEK THE KEYS IF PRESENT OR NOT IN THE DICT.

True

# FUNCTIONS

robot

In [61]:
def add():
    a = 3
    b = 5
    c = a + b
    print(c)

In [62]:
add()

8

In [63]:
def func(x):      # func(parameter)
    print(x)

In [64]:
func('Hello World')         # when 'call in' func(arguement)

Hello World

In [65]:
def add(x,y):
    print(x+y)

In [66]:
add(2,3)

5

In [71]:
def calculator(x,y,operator='+'):
    if operator == '+':
        print(x+y)
    elif operator == '-':
        print(x-y)
    elif operator == '*':
        print(x*y)
    elif operator == '/':
        print(x/y)
    else:
        print("invalid operator")

In [74]:
calculator(5,9,'-')

-4

In [76]:
calculator(6,2)    # using by default parameter

8

In [77]:
def userandfather(username,fathername):
    print("My name is " + username)
    print("My father is " + fathername)

In [78]:
userandfather('hussain','Saifuddin')

My name is hussain
My father is Saifuddin

In [79]:
userandfather('Saifuddin','hussain')

My name is Saifuddin
My father is hussain

In [80]:
userandfather(fathername='Saifuddin',username='hussain')     # used keyword arguement to correct the position

My name is hussain
My father is Saifuddin

In [8]:
def my_full_name(firstname,middlename,lastname=" "):
    print(firstname,middlename,lastname)
my_full_name("mueid","ali",)
my_full_name

mueid ali

In [9]:
def my_full_name(firstname,middlename=" ",lastname=" "):
    print(firstname,middlename,lastname)
my_full_name("mueid","khan")
my_full_name

mueid khan