In [1]:
print("hello piaic")                         # print whatever you want

hello piaic

In [3]:
print(100000)                                 # print the number

100000

In [2]:
variable_1 = "muhammad ali"

In [3]:
type(variable_1)                          # dabbe mai kis type ka data hai

str

In [4]:
id(variable_1)                  # dabbe ka pata

1750529895728

In [6]:
name = "ada lovelace"
print(name)

ada lovelace

In [7]:
name = "hamza bhai"
print(name)

hamza bhai

In [9]:
number_example = 10
print(number_example)

10

In [10]:
type(number_example)

int

In [11]:
hamza_bhai = 15.2
print(hamza_bhai)

15.2

In [12]:
type(hamza_bhai)

float

In [13]:
string = "string must be in quotation"
print(string)

string must be in quotation

In [14]:
string_2 = 'string example in single quote'
print(string_2)

string example in single quote

In [16]:
exp = "his father's name is Arshad"
print(exp)

his father's name is Arshad

In [17]:
num = "69"

In [18]:
type(num)

str

In [19]:
num = 69
type(num)

int

In [20]:
char = "@#$%^&*("
print(char)

@#$%^&*(

In [21]:
type(char)

str

In [22]:
num1 = -2
type(num1)

int

In [23]:
print(num1)

-2

In [24]:
print(2+2)    # addition

4

In [27]:
math_operators = 2 + 2
print(math_operators)

4

In [28]:
print(2+2)
print(2-2)
print(2*2)
print(2/2)

4
0
4
1.0

In [29]:
var1 = 1
var2 = 2     # calculations between variables

In [30]:
var1 - var2

-1

In [33]:
4 // 4    # float divison

1

In [34]:
10/3                #to give division answers as float

3.3333333333333335

In [35]:
10//3  # to give divison answers as integer

3

In [36]:
var1 = 4
var2 = 3
print(var1 + var2)
print(var1 - var2)
print(var1 * var2)
print(var1 // var2)

7
1
12
1

In [37]:
# how to make comments
# start comment line from the character #
# then give a space and then write your comment

In [38]:
# second example of comment

In [40]:
print("abc")
# this is a comment
print("bac")

abc
bac

In [41]:
# this operator is called modulo and written as %
4 % 3

1

In [46]:
print = 123
print(print)

TypeError: 'int' object is not callable

In [48]:
1abc = "name"

SyntaxError: invalid syntax (<ipython-input-48-42321c0d7768>, line 1)

In [49]:
@aabds= "name"

SyntaxError: invalid syntax (<ipython-input-49-0804cc1eb6ec>, line 1)

In [50]:
# numbers cannot be come at first but it can come at between or at last.
# in the variable name assigned neither at first or at last.